.app {
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
}